{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
    
    <div class="container">
        <h2>digit recognition</h2>
        <div class="row">
            <div class="col-md-6">
                <canvas
                    id="input"
                    width="400px"
                    height="400px"
                    style="border: solid 1px"
                ></canvas>
                <p>
                <button class="btn mt-3 btn-outline-success" id ="reset">reset</button>
            </div> 

            <div id ="outcome" class="col-md-6">
                
                <div id="0">0 : 0%</div>
                <div id="1">1 : 0%</div>
                <div id="2">2 : 0%</div>
                <div id="3">3 : 0%</div>
                <div id="4">4 : 0%</div>

                <div id="5">5 : 0%</div>
                <div id="6">6 : 0%</div>
                <div id="7">7 : 0%</div>
                <div id="8">8 : 0%</div>
                <div id="9">9 : 0%</div>
                <p></p>
                you wrote
                <div id="ans">0</div>

            </div>
        </div>
    </div>


{% endblock %}